.empty-results {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}


.empty-results ion-icon {
  font-size: 15rem;
  color: #ff5555;
}

#query {
  border-width: 2px;
  border-radius: 6px;
  border-color: #6272a4;
  background-color: #44475a;
  padding: 6px;
  margin: 0.3rem;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#search {
  padding: 0.6rem;
  border-radius: 0.4rem;
  background-color: #6272a4;
}

.search-results {
  flex-direction: column;
  flex-wrap: wrap;
}

.server-title {
  margin: 0.6rem;
  border-bottom: 2px;
  border-color: #6272a4;
  border-style: solid;
}

.server-response {
  flex-wrap: wrap;
  justify-content: center;
}

.response {
  display: flex;
  flex-direction: column;
  margin: 0.35rem;
  padding: 0.84rem;
  background-color: #44475a;
  border-radius: 0.6rem;
  align-items: center;
}

.response div {
  background-color: rgb(86, 91, 117);
  border-radius: 0.8rem;
  margin-bottom: 0.5rem;
  width: 156px;
  height: 232px;
}

.response img {
  border-radius: 0.8rem;
  width: 156px;
  height: 232px;
}

.response span {
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  max-width: 9.5rem;
}