/* Animations */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Element modifications */

* {
  margin: 0;
  border-width: 0;
  padding: 0;
  color: #f8f8f2;
  text-decoration: none;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.65rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #44475a;
  padding: 1rem;
  border-radius: 0 0 1.2rem 1.2rem;
}


/* Element styles */

/* Classes */
.flex {
  display: flex;
  flex: 1;
}

.hidden {
  display: none;
}

.page-body {
  height: 100vh;
  background-color: #282a36;
  justify-content: space-between;
  flex-direction: column;
}

.content {
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
}

.links {
  display: flex;
  justify-content: center;
  background-color: #111111;
  padding: 1.2rem 1rem;
}

.empty-results {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}


.empty-results ion-icon {
  font-size: 15rem;
  color: #ff5555;
}

.social {
  font-size: 2rem;
}

.loading {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.loading ion-icon {
  margin-bottom: 1rem;
  text-align: center;
  text-justify: center;
  font-size: 5rem;
  animation: rotate 750ms linear infinite;
}

#query {
  border-width: 2px;
  border-radius: 6px;
  border-color: #6272a4;
  background-color: #44475a;
  padding: 6px;
  margin: 0.3rem;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#search {
  padding: 0.6rem;
  border-radius: 0.4rem;
  background-color: #6272a4;
}

.search-results {
  flex-direction: column;
  flex-wrap: wrap;
}

.server-title {
  margin: 0.6rem;
  border-bottom: 2px;
  border-color: #6272a4;
  border-style: solid;
}

.server-response {
  flex-wrap: wrap;
  justify-content: center;
}

.response {
  display: flex;
  flex-direction: column;
  margin: 0.35rem;
  padding: 0.84rem;
  background-color: #44475a;
  border-radius: 0.6rem;
  align-items: center;
}

.response div {
  background-color: rgb(86, 91, 117);
  border-radius: 0.8rem;
  margin-bottom: 0.5rem;
  width: 156px;
  height: 232px;
}

.response img {
  border-radius: 0.8rem;
  width: 156px;
  height: 232px;
}

.response span {
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  max-width: 9.5rem;
}